@model SKA.Areas.SKA.Models.ViewModels.RevenueExpenditureViewModel

@{
    ViewBag.Title = "SKA - Tambah Set P & P Operasional";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Tambah Set P & P Operasional</h2>
</div>

@Html.Partial("_CreateOrEdit")
