@using Telerik.Web.Mvc.UI
@model SKA.Areas.SKA.Models.ViewModels.RevenueExpenditureViewModel

@{
    ViewBag.Title = "SKA - Set P & P Operasional";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Daftar Penerimaan dan Pengeluaran Operasional</h2>
</div>
<div class="box-content">
@using (Html.BeginForm("Index", "RevenueExpenditure"))
{ 
        <table>
            <tr>
                <td>
                    Cari
                </td>
                <td>
                    :
                </td>
                <td>
                    @Html.TextBox("searchValue")
                </td>
                <td>
                    <input type = "submit" value = "Cari"/>
                </td>
            </tr>
        </table>
}
@(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.RevenueExpenditureViewModel>()
                .Name("RevenueExpenditureGrid")
                .ToolBar(toolbar =>
                {
                    toolbar.Custom().Action("Create", "RevenueExpenditure").Text("Tambah").ButtonType(GridButtonType.Text).HtmlAttributes(new { style = "width:100px" });
                })
                .Columns(col =>
                    {
                        col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Edit", "Edit", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false);
                        if (User.IsInRole("User") == false)
                        {
                            col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Hapus", "Delete", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false);
                        }
                        col.Bound(o => o.AccountCode).Title("Kode Perkiraan");
                        col.Bound(o => o.AccountName).Title("Nama Perkiraan");
                        col.Bound(o => o.Tipe).Title("Tipe");
                    }
                )
                .DataBinding(binding => binding.Ajax().Select("GetList", "RevenueExpenditure", new { searchValue = @ViewBag.SearchValue}))
                .Sortable()
                .Filterable()
                .Pageable()
)
</div>