@{
    ViewBag.Title = "Setting - Profile User";
    Layout = "~/Areas/Setting/Views/Shared/_SettingLayout.cshtml";
}

<div class="box-head">
	<h2>Setting - Ubah Password</h2>
</div>
<div class="box-content">
    <div style="margin-top:10px;margin-left:10px;">
        Password anda telah berhasil diubah.
    </div>
    <br />
    <div>
        <a class ="t-button" style ="width:60px" href="@Url.Action("Detail", "Account", new { Area = "" })">Kembali</a>
    </div>
</div>
