@model SKA.Models.LogOnModel
           
@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_LogOnLayout.cshtml";
}
<div id="water">
    <div id="outterFrame">
    <div class="logoLogin"></div>
    <br /><br /><br /><br /><br /><br />
	   <center><fieldset><h1> PERHATIAN !!! <br /><br /></h1>
       <h2> <B>Alamat IP Sudah dialihkan ke <label style="color:Yellow"><big> http://192.168.0.91/ska </big></label>, Silahkan anda ketik ulang di Url browser.</B> </h2></fieldset></center>
    </div>
</div>