@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
<h2>Backup Database</h2>
</div>
<div class="box-content">
<p>
@ViewData["message"]
@*<script type = "text/javascript">
    alert(ViewData["message"])
</script>*@
</p>
</div>