@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "SKA - Anggaran Posisi Keuangan";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Anggaran Posisi Keuangan</h2>
</div>
<div class="box-content">
@using (Html.BeginForm("Index", "BudgetFinancialPosition"))
{ 
        <table>
            <tr>
                <td>
                    Cari
                </td>
                <td>
                    :
                </td>
                <td>
                    @Html.TextBox("searchValue")
                </td>
                <td>
                    <input type = "submit" value = "Cari"/>
                </td>
            </tr>
        </table>
}
    @(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.BudgetFinancialPositionViewModel>()
                    .Name("BudgetFinancialPositionGrid")
                    .Columns(col =>
                    {
                        col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Edit", "Edit", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false).Width(50);
                        col.Bound(o => o.Name).Title("Nomor Kas").Width(250);
                        col.Bound(o => o.Amount).Title("Total").Format("Rp. {0:N}");
                    })
                                    .DataBinding(binding => binding.Ajax().Select("GetList", "BudgetFinancialPosition", new { searchValue = @ViewBag.SearchValue}))
                    .Sortable()
                    .Filterable()
    )
</div>