body {
    background: #fff;
    color: #393939;
    font-family: Arial;
    font-size: 12px;
}
#page-content {
    border: 1px solid #DEDEDE;
    padding: 10px;
    min-height: 100px;
    position:relative;
    background-color: white;
}
.row {
    padding: 15px 5px 5px;
}
.no-bg {
    background:none !important;
}
.inline {
    display:inline-block;
}
.scrollable-area {
    overflow: auto !important;
}
.btn-white {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
.btn-white:hover {
    color: #333;
    background-color: #FFF;
    border-color: #ADADAD;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{
	color:#fff;
	background-color:#fff
}
@media (max-width:980px) {
    .container {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .nav.navbar-nav .dropdown.account {
        display:block !important;
    }
}
.glyphicon[class*=" icon-"] 
{
    display:block !important;
}
.field-validation-error {
    color:Red;
}
.breadcrumb {
    background-color:transparent;
    margin-bottom: 0 !important;
}

/*  TOP -------------------------------------------------------------------------------- */
#page-top-outer {
    background-color: #1F1F21;
    border-bottom: 1px solid #7e7e7e;
}
#page-top {
    margin: 0 auto;
    /*max-width: 1000px;
    min-width: 850px;*/
    position: relative;
}
#logo {
    float: left;
    margin: 10px;
}
#logo a {
    display: block;
    text-decoration:none;
}
#logo h1 
{
    font-weight:bold;
    color: White !important;
}
#hr-image
{
    display: inline;
    float: right;
    position: relative;
    margin: 5px 20px 0 0;
    z-index: 20;
}

/*  NAVBAR -------------------------------------------------------------------------------- */
.navbar {
    margin: 0;
    background-color: #046077;
    /*background-image: linear-gradient(to bottom, #05C5F2, #008AAE);*/
    background-image:linear-gradient(to bottom, #38A1BA, #008AAE);
    background-repeat: repeat-x;
    border: 1px solid #016b85;
    border-radius:0px !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.navbar-inner {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: 0 none;
    font-family: Tahoma;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
.navbar .nav > li > a{
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}
.navbar .nav > li.divider {
    width: 1px;
    background-color: rgb(255, 255, 255);
    padding: 24px 0px;
    margin-top: 2px;
    margin-right:15px;
    margin-left:15px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a.active {
    border-radius: 0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    color: #94B52C;
    text-shadow: 0 1px 0 #000000;
}
.navbar .nav > .active > a:focus {
    border-radius: 0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    color: #94B52C;
}
.navbar-brand {
    font-size: inherit !important;
    padding:0px;
    margin-right: 15px;
}
.navbar-brand .navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}
@media (min-width:768px) {
    .navbar-header{
        float:right;
    }
}
.navbar-inverse .navbar-toggle {
    border-color: transparent !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus
,.navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: white !important;
}
.navbar-inverse .navbar-nav > li > a:focus
, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: white !important;
}
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.nav-tabs > li > a, .nav-pills > li > a,
.nav-tabs > li > a, .nav-pills > li > label {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav-fixed {
    top: 0px;
    position: fixed;
}
.nav.nav-stacked {
    width:220px;
    
}

@media (max-width:991px)
{
    .nav.nav-stacked {
        display:none;
    }
}

/*  CONTENT -------------------------------------------------------------------------------- */
#content-outer {
    background: url(../images/shared/content_repeat.jpg) repeat-x;
}
#content {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 0 auto;
    max-width: 1000px;
    min-width: 780px;
    padding: 0px 0px 30px 0px;
}
#page-top-outer #page-top.container
{
    background:url("../images/shared/bglogo.png") no-repeat scroll top center transparent;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#content-inner {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 0px auto;
    padding: 25px 0 30px 0;
}
#content-table
{
    font-size: 0px;
    line-height: 0px;
    border-collapse: collapse;
    width: 100%;
}
#page-heading {
    margin: -10px -10px 0px;
    background: none repeat scroll 0 0 #F0F1F2;
    border: 1px solid #DAE1E8;
    padding-left : 20px;
}
h1 {
    color: #4b4b4b;
    font-family: Tahoma;
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
}
h2 {
    color: #393939;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}
h3 {
    color: #92b22c;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
}

/*  BOX -------------------------------------------------------------------------------- */
.box {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125);
    margin:4px 0px !important;
    min-height: 100%;
}
.box .title {
    position: relative;
}
.box .title .minimize {
    background: url("../images/shared/minus.png") no-repeat scroll center 3px #F3F3F3;
    cursor: pointer;
    display: inline;
}
.box .title > a {
    background-color: #F3F3F3;
    border: 1px solid #C4C4C4;
    /*border-radius: 2px 2px 2px 2px;*/
    color: #3F3F3F;
    height: 16px;
    padding: 0 2px 3px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    text-indent: -9999px;
    top: 8px;
    width: 16px;
}
.sum-box {
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    margin-bottom: 10px;
    margin-top: 10px;
}
.box-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0px 0px transparent;
    border-color: -moz-use-text-color -moz-use-text-color #DEDEDE;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
    min-height: 12px;
    padding: 10px 10px 0px;
}
.box-title h2 {
    clear: none;
    font-size: 14px;
    line-height: 15px;
    width: auto;
    margin-top: 0px;
    padding: 0px 10px;
}
.box-content {
    padding: 10px 10px 15px;
}
.box-table .box-content {
    padding: 0px !important;
}
.box .content{
    padding: 20px 10px;
    position: relative;
}
.box .box-no-padding {
    padding:0px;
}
.box .box-double-padding {
    padding:20px;
}

/* FORM */
.span-form-control{
    border:none;
    border-bottom: 1px solid #eee;
    /*width: 66.6667%;*/
    min-height: 30px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    background-image: none;
}
.checkbox-inline .form-control
{
    height:auto !important;
    width:auto;
}
.spinner .input-group-addon {
    padding-top:0px;
}
.spinner.input-group .input-group-addon a.spin-up, .spinner.input-group .input-group-addon a.spin-down
{
    overflow:visible;
}
/*.input-group {
    min-width: 190px;
}*/

/* FOOTER -------------------------------------------------------------- */
#footer {
    height: 40px;
    margin: 0px auto 0px auto;
    padding: 0px 0 0 0;
    text-align: left;
    min-width: 780px;
}
#footer-left {
    background: url("../images/shared/icon_idlogo.jpg") no-repeat scroll 0 12px transparent;
    color: #818181;
    font-size: 11px;
    line-height: 11px;
    margin: 0 20px;
    padding: 20px 0 15px 30px;
}
#footer-left a {
    color: #818181;
    text-decoration: none;
}
.clear {
    clear: both;
    font-size: 0px;
    height: 0;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}


/*  LOGIN -------------------------------------------------------------------------------- */
body.login {
    overflow-x: hidden;
    background:url("../images/bg-login.jpg") no-repeat;
    background-size:cover;
}
body.login .middle-container {
    background-color: rgba(255, 255, 255, 0.7) !important;
}/*
body.login .middle-container .middle-row {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: static;
}
body.login .middle-container .middle-row .middle-wrapper {
    position: static;
}
.login .middle-wrapper > [class^="col-md"] {
    margin: auto;
    float: none;
}*/
body.login .login-container .box-title
{
    /*background:white !important;*/
    padding-left: 20px;
    padding-right: 20px;
    border-left:5px solid #38A1BA;
}
body.login .login-container {
    background-color: rgba(255, 255, 255, 0.9) !important;
    position: relative;
    padding: 0px !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}


/*  DATATABLE -------------------------------------------------------------------------------- */

.dataTables_wrapper .dataTables_length {
    padding-top:0.755em !important;
}
.dataTables_wrapper .dataTables_info {
    clear: right !important;
    padding-left:20px;
    padding-top:0.83em !important;
}
.table {
    margin:0;
}
table thead th, table tfoot th {
    vertical-align: middle !important;
    text-align:center !important;
    padding: 10px 18px;
}
table thead th.text-right,table thead th.text-left, table tfoot th {
    vertical-align: middle !important;
    text-align:center !important;
}
span.loader {
    height: 30px;
    width: 30px;
    border: medium none;
    background: transparent url("../images/loader.gif") no-repeat scroll 10px 10px;
    display: block;
    float: right;
}

.box-table table.dataTable thead, .box-table table.table thead {
    border-bottom: 1px solid #111;
    background: linear-gradient(to bottom, rgba(242, 234, 234, 0.04) 0px, rgba(0, 0, 0, 0.11) 100%) repeat scroll 0px 0px transparent;
    border-style: none none solid;
    border-width: medium medium 1px;
}
.dataTables_wrapper {
    overflow-x:auto;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.4);
}
.dataTables_wrapper .datatables-top, .dataTables_wrapper .datatables-bottom {
  padding: 5px; }
@media (max-width: 767px) {
  .dataTables_wrapper .datatables-top, .dataTables_wrapper .datatables-bottom {
    text-align: center; }
    .dataTables_wrapper .datatables-top .dataTables_filter, .dataTables_wrapper .datatables-bottom .dataTables_filter {
      float: none;
      text-align: center; }
      .dataTables_wrapper .datatables-top .dataTables_filter label, .dataTables_wrapper .datatables-bottom .dataTables_filter label {
        float: none; }
    .dataTables_wrapper .datatables-top .dataTables_paginate, .dataTables_wrapper .datatables-bottom .dataTables_paginate {
      text-align: center;
      float: none;
      margin-left: 0;
      margin-right: 0; }
    .dataTables_wrapper .datatables-top .dataTables_length, .dataTables_wrapper .datatables-bottom .dataTables_length {
      text-align: center;
      display: inline-block;
      float: none; } }/*
.dataTables_wrapper:after, .dataTables_wrapper:before {
  content: "";
  display: table; }
.dataTables_wrapper:after {
  clear: both; }
.dataTables_wrapper {
  *zoom: 1; }
.dataTables_wrapper .dataTables_length {
  margin: 13px 10px 5px 10px;
  float: left; }
.dataTables_wrapper .dataTables_filter {
  margin: 10px 10px 5px 10px;
  float: right; }
.dataTables_wrapper .dataTables_info {
  padding: 0;
  margin: 4px 10px 10px 10px; }
.dataTables_wrapper .dataTables_paginate {
  margin-right: 10px; }
  .dataTables_wrapper .dataTables_paginate .pagination {
    margin: 0; }
.dataTables_wrapper .filter_column input[type="text"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dataTables_wrapper .sorting:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "\f0dc";
  float: right; }
.dataTables_wrapper .sorting_asc:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "\f0de";
  float: right; }
.dataTables_wrapper .sorting_desc:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "\f0dd";
  float: right; }
*/
/*  OTHER -------------------------------------------------------------------------------- */
#indicator {
    position: absolute;
    margin-left: 45%;
    display: none;
    top: 20px;
    z-index: 2;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle, 
.dropdown-menu,
.modal-content,
.btn-group-xs > .btn,
.btn-xs,
.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th,
.bootstrap-datetimepicker-widget span,
.form-control,
.label,
.alert,
.btn-group-sm > .btn,
.btn-sm,
.nav-pills > li > a,
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius:0px !important;
    -moz-border-radius:0px !important;
    -webkit-border-radius:0px !important;
}
.date input {
    text-align:left;
}
table tr td.details-control {
    width:10px !important;
}
table tr th.action, table tr td.action {
    width:65px !important;
    min-width:65px;
}
td.td-center {
    text-align:center;
}
td.td-right {
    text-align:right;
}
td.group {
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}
td.details-control, td.group.collapsed-group, td.subgroup.collapsed-group {
    background: url("../images/shared/details_open.png") no-repeat scroll left center transparent;
    padding-left: 25px !important;
    cursor: pointer;
}
tr.shown td.details-control, td.group.expanded-group, td.subgroup.expanded-group {
    background: url("../images/shared/details_close.png") no-repeat scroll left center transparent;
}
.collapsed-group, .expanded-group 
{
    padding-left:20px !important;
    padding-right:20px !important;
}
td.subgroup {
    padding-left:50px !important;
}
td.subgroup.expanded-group, td.subgroup.collapsed-group{
    background-position: 28px center;
}
.group-item td:nth-child(1){
    padding-left:30px;
}
.group-item.subgroup-item td:nth-child(1) {
    padding-left:70px !important;
}
.no-wrap {
    white-space:nowrap;
}
.hide {
    display:none;
}
@media (min-width:992px) {
    .lg-hide {
        display:none !important;
    }
}
@media (max-width:991px) {
    .md-hide {
        display:none !important;
    }
    .box .box-double-padding {
        padding:5px !important;
    }
}
@media (min-width:767px) {
    .login .middle-wrapper {
        width: 400px;
        margin: auto;
    }
    .margin-left-min20 {
        margin-left: -20px;
    }
}
@media (max-width:767px) {
    .sm-hide {
        display:none !important;
    }
    .margin-top-plus20 {
        margin-top: 10px;
    }
    .navbar .nav > li.dropdown.open > .dropdown-menu > li > a {
        color:White;
        text-shadow: none;
    }
    .navbar .nav > li.divider {
        width: 100%;
        height:1px;
        background-color: #B9B0B0;
        padding: 0px !important;
        margin-top: 0px;
    }
}
@media (max-width:778px) {
    .xs-hide {
        display:none !important;
    }
    .xs-show {
        display:block !important;
    }
}