@model SKA.Areas.SKA.Models.ViewModels.PBIKJournalFormatsViewModel

@{
    ViewBag.Title = "SKA - Tambah Format Jurnal PBIK";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Tambah Format Jurnal PBIK</h2>
</div>

@Html.Partial("_CreateOrEdit")
