@model SKA.Areas.SKA.Models.ViewModels.DHHDJournalFormatsViewModel

@{
    ViewBag.Title = "SKA - Tambah Format Jurnal DHHD";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Tambah Format Jurnal DHHD</h2>
</div>

@Html.Partial("_CreateOrEdit")
