@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "SKA - Format Jurnal DHHD ";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Format Jurnal DHHD</h2>
</div>
<div class="box-content">
@using (Html.BeginForm("Index", "DHHDJournalFormats"))
{ 
        <table>
            <tr>
                <td>
                    Cari
                </td>
                <td>
                    :
                </td>
                <td>
                    @Html.TextBox("searchValue")
                </td>
                <td>
                    <input type = "submit" value = "Cari"/>
                </td>
            </tr>
        </table>
}
   @(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.DHHDJournalFormatsViewModel>()
                .Name("DHHDJournalFormatsGrid")
                .ToolBar(toolbar =>
                {
                    toolbar.Custom().Action("Create", "DHHDJournalFormats").Text("Tambah").ButtonType(GridButtonType.Text).HtmlAttributes(new { style = "width:100px" });
                })
                .Columns(col =>
                {
                    col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Edit", "Edit", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false).Width(50);
                    if (User.IsInRole("User") == false)
                    {
                        col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Hapus", "Delete", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false).Width(50);
                    }
                    col.Bound(o => o.Id).Hidden();
                    col.Bound(o => o.AccountCode).Title("Kode Perkiraan");
                    col.Bound(o => o.Name).Title("Nama Perkiraan");
                    col.Bound(o => o.Status).Title("Status");
                    col.Bound(o => o.TurnNumber).Title("Nomor Urut");

                })
                       .DataBinding(binding => binding.Ajax().Select("_SelectDetail", "DHHDJournalFormats", new { searchValue = @ViewBag.SearchValue}))
                .Sortable()
)
</div>
