@{
    ViewBag.Title = "SKA - Tambah Jurnal Pengeluaran Bahan Instalasi dan Kimia";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class ="box-head">
<h2>Tambah Data Jurnal Pengeluaran Bahan Instalasi dan Kimia</h2>
</div>

@Html.Partial("_CreateOrEdit")
 <style type = "text/css">
    .t-autocomplete, .text-box-single-line{
        width: 400px;
    }
    </style>

