@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "SKA - Jurnal Pengeluaran Bahan Instalasi dan Kimia";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class ="box-head">
<h2>Jurnal Pengeluaran Bahan Instalasi dan Kimia</h2>
</div>

<div class ="box-content">
@using (Html.BeginForm("Index", "PBIKJournal"))
{ 
    <table>
        <tr>
            <td>
                Cari
            </td>
            <td>
                :
            </td>
            <td>
                @Html.TextBox("searchValue")
            </td>
            <td>
                <input class ="t-button" type="submit" value="Cari" style="width:60px"/>
            </td>
        </tr>
    </table>
}

@(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.PBIKJournalViewModel>()
            .Name("PBIKJournalTypeGrid")
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Action("Create", "PBIKJournal").ButtonType(GridButtonType.Text).Text("Tambah Data").HtmlAttributes(new { style = "width:100px" });
            })
            .Columns(col =>
            {
                col.Bound(o => o.Id).ClientTemplate(
                    "<# if (DocumentDate > ClosingDate) { #>" + Html.ActionLink("Edit", "Edit", new { id = "<#= Id #>" }).ToString()
                    + "<# } #>").Title("").Sortable(false).Width(50);
                if (User.IsInRole("User") == false)
                {
                    col.Bound(o => o.Id).ClientTemplate("<# if (DocumentDate > ClosingDate) { #>" + Html.ActionLink("Hapus", "Delete", new { id = "<#= Id #>" }).ToString()
                    + "<# } #>").Title("").Sortable(false).Width(50);
                }

                col.Bound(o => o.Id).ClientTemplate(
                    "<# if (DocumentDate <= ClosingDate) { #>" +
                    Html.ActionLink("Detail", "Detail", new { id = "<#= Id #>" }).ToString() +
                    "<# } #>").Title("").Sortable(false).Width(50);
                
                col.Bound(o => o.EvidenceNumber).Title("Nomor Bukti").Width(140);
                col.Bound(o => o.DocumentDate).Title("Tanggal").Format("{0:dd-MM-yyyy}").Width(100);
                col.Bound(o => o.Description).Title("Keterangan"); 
            })
            .ClientEvents(events =>
                    events.OnDataBound("onDataBound")
                )
            .DataBinding(binding => binding.Ajax().Select("GetList", "PBIKJournal",new { searchValue = @ViewBag.SearchValue}))
                .Sortable(sorting =>
                             sorting.OrderBy(sortOrder => sortOrder.Add(o => o.EvidenceNumber).Ascending())
                    )
            .Pageable()
            .Filterable()
            )
</div>
<script type ="text/javascript">
    var firstTimeLoad = true;
    function onDataBound(e) {
        if (firstTimeLoad) {
            firstTimeLoad = false;
            var grid = $('#PBIKJournalTypeGrid').data('tGrid');
            grid.pageTo(grid.totalPages());
        }
    }
</script>

