@{
    ViewBag.Title = "Create - Laba Ditahan";
    Layout = "~/Areas/Setting/Views/Shared/_SettingLayout.cshtml";
}

<div class="box-head">
	<h2>Tambah Laba Ditahan</h2>
</div>
@Html.Partial("_CreateOrEdit")
@section HeadContent{
    <style type = "text/css">
    .t-autocomplete, .text-box-single-line{
        width: 300px;
    }
    </style>
}

