@model SKA.Areas.SKA.Models.ViewModels.CashReceiptJournalFormatsViewModel

@{
    ViewBag.Title = "SKA - Tambah Format Jurnal Penerimaan Kas";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Tambah Format Jurnal Penerimaan Kas</h2>
</div>

@Html.Partial("_CreateOrEdit")
