@{
    ViewBag.Title = "Data Tahun Lalu - Ubah Data Cadangan";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Ubah Data Cadangan</h2>
</div>

@Html.Partial("_CreateOrEdit")
@section HeadContent{
    <style type = "text/css">
    .t-autocomplete, .text-box-single-line{
        width: 300px;
    }
    </style>
}