<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=halotecserver\SQLSERVER2008R2;initial catalog=SKABARU;user id=sa;password=halotec" providerName="System.Data.SqlClient" />
    <add name="SKAEntities" connectionString="metadata=res://*/Models.SkaModel.csdl|res://*/Models.SkaModel.ssdl|res://*/Models.SkaModel.msl;provider=System.Data.SqlClient;&#xD;&#xA;         &#xD;&#xA;         provider connection string=&quot;data source=halotecserver\SQLSERVER2008R2;initial catalog=SKABARU;&#xD;&#xA;         &#xD;&#xA;         persist security info=True;user id=sa;password=halotec;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ApplicationServices" connectionString="data source=192.168.0.91\SQLEXPRESS2008R2;initial catalog=SKAPUSAT;user id=sa;password=admin123!" providerName="System.Data.SqlClient" />
    <add name="SKAEntities" connectionString="metadata=res://*/Models.SkaModel.csdl|res://*/Models.SkaModel.ssdl|res://*/Models.SkaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.91\SQLEXPRESS2008R2;initial catalog=SKAPUSAT;persist security info=True;user id=sa;password=admin123!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="BranchId" value="3" />
    <add key="BranchCode" value="00" />
    <add key="BranchName" value="CUM" />
    <add key="MainOffice" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ReportServerUrl" value="http://localhost/ReportServer_HIMDNL001" />
        <add key="ReportPath" value="/SKA/" />
        <add key="ReportCredentialUserName" value="sawal" />
        <add key="ReportCredentialPassword" value="halotec" />
        <add key="ReportCredentialDomain" value="himdnl001" />    
         -->
    <add key="ReportServerUrl" value="http://halotecserver/ReportServer_SQLSERVER2008R2" />
    <add key="ReportPath" value="/SKA/" />
    <add key="ReportCredentialUserName" value="Administrator" />
    <add key="ReportCredentialPassword" value="halotec1!" />
    <add key="ReportCredentialDomain" value="HALOTECSERVER" />
    <add key="Database" value="SKABARU" />
    <add key="ConnectionString" value="data source=halotecserver\SQLSERVER2008R2;initial catalog=SKABARU;user id=sa;password=halotec" />
    <add key="DatabaseBackupURL" value="d:\Database Backup\" />
    
    <add key="AccountCodeforPartner" value="" />
    <add key="VoucherKasKecilCode" value="111" />
    <add key="cashAndBankCode" value="110" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken= b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
      <properties>
        <add name="FullName" type="string" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc" />
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/error">
      <error statusCode="404" redirect="~/error/Error404" />
      <error statusCode="500" redirect="~/error" />
    </customErrors>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>