@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/VoucherKas/Views/Shared/_VoucherLayout.cshtml";
}

<div class="box-head">
	<h2>Tambah Voucher</h2>
</div>

@Html.Partial("_CreateOrEdit")
@section HeadContent{
    <style type = "text/css">
    .t-autocomplete, .text-box-single-line{
        width: 300px;
    }
    </style>
}