<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Sistem Komputer Akuntansi - PDAM Tirtanadi Medan</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
</head>
<body id="login-body">
    @RenderBody()
</body>
</html>
