
@{
    ViewBag.Title = "Data Tahun Lalu - Tambah Data Laba Bersih ";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class= "box-head">
<h2>Tambah Data Laba Bersih</h2>
</div>
@Html.Partial("_CreateOrEdit")