@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "SKA - Set Up Direktur dan Lainnya - Laporan Bulanan";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Setup Direktur dan Lainnya - Laporan Bulanan</h2>
</div>
<div class="box-content">
@using (Html.BeginForm("Index", "MonthlyReportsSetup")) 
{ 
    <table>
        <tr>
            <td>
                Cari
            </td>
            <td>
                :
            </td>
            <td>
                @Html.TextBox("searchValue")
            </td>
            <td>
                <input type = "submit" value = "Cari" />
            </td>
        </tr>
    </table>
    
}
@(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.MonthlyReportsSetupViewModel>()
                .Name("MonthlyReportSetupGrid")
                .Columns(col =>
                    {
                        col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Edit", "Edit", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false);
                        col.Bound(o => o.Name).Title("Nama Laporan");
                        col.Bound(o => o.CheckerName).Title("Diperiksa Oleh");
                        col.Bound(o => o.CheckerPosition).Title("Jabatan");
                        col.Bound(o => o.MakerName).Title("Dibuat Oleh");
                        col.Bound(o => o.MakerPosition).Title("Jabatan");
                    })
                    .DataBinding(binding => binding.Ajax().Select("GetList", "MonthlyReportsSetup", new { searchValue = @ViewBag.SearchValue}))
                    .Sortable()
                    .Filterable()
)
</div>