@{
    ViewBag.Title = "Setting - Ubah Data Perkiraan";
    Layout = "~/Areas/Setting/Views/Shared/_SettingLayout.cshtml";
}

<div class="box-head">
	<h2>Ubah Data Perkiraan</h2>
</div>
@Html.Partial("_CreateOrEdit")
