@{
    ViewBag.Title = "Setting - Tambah Kepala Kode Perkiraan";
    Layout = "~/Areas/Setting/Views/Shared/_SettingLayout.cshtml";
}
<div class="box-head">
	<h2>Tambah Kepala Kode Perkiraan</h2>
</div>
<div class="box-content">
    @Html.Partial("_CreateOrEdit")
</div>
