@{
    ViewBag.Title = "Setting - Ubah Kepala Kode Perkiraan";
    Layout = "~/Areas/Setting/Views/Shared/_SettingLayout.cshtml";
}

<div class="box-head">
	<h2>Ubah Kepala Kode Perkiraan</h2>
</div>
@Html.Partial("_CreateOrEdit")
