@{
    ViewBag.Title = "Jurnal Rekening - Tambah Data";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class ="box-head">
<h2>Tambah Jurnal Rekening</h2>
</div>

@Html.Partial("_CreateOrEdit")
@section HeadContent{
    <style type = "text/css">
    .t-autocomplete, .text-box-single-line{
        width: 300px;
    }
    </style>
}


