
@{
    ViewBag.Title = "Data Tahun Lalu - Tambah Data Saldo Laba/Awal ";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class= "box-head">
<h2>Tambah Data Saldo Laba/Awal</h2>
</div>
@Html.Partial("_CreateOrEdit")