@model SKA.Areas.SKA.Models.ViewModels.BeginningBalancesViewModel

@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Data Yang Tidak Dibagi Tahun Lalu - Saldo Laba/Awal";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Saldo Laba/Awal</h2>
</div>
<div class="box-content">
@(Html.Telerik().Grid<SKA.Areas.SKA.Models.ViewModels.BeginningBalancesViewModel>()
                .Name("BeginningBalanceGrid")
                .ToolBar(toolbar =>
                    {
                        toolbar.Custom().Action("Create", "BeginningBalances").Text("Tambah").ButtonType(GridButtonType.ImageAndText).HtmlAttributes(new { style = "width:100px" });
                    })
                .Columns(col =>
                    {
                        col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Edit", "Edit", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false);
                        if (User.IsInRole("User") == false)
                        {
                            col.Bound(o => o.Id).ClientTemplate(Html.ActionLink("Hapus", "Delete", new { id = "<#= Id #>" }).ToString()).Title("").Sortable(false);
                        }
                        col.Bound(o => o.Amount).Title("Jumlah").Format("Rp. {0:N}");
                        col.Bound(o => o.Year).Title("Tahun");
                    })
                    .DataBinding(binding => binding.Ajax().Select("GetList", "BeginningBalances"))
                    .Sortable()
                    .Filterable()
                    .Pageable()
)
</div>
