@model SKA.Areas.SKA.Models.ViewModels.AccountJournalFormatsViewModel

@{
    ViewBag.Title = "SKA - Edit Format Jurnal Rekening";
    Layout = "~/Areas/SKA/Views/Shared/_SkaLayout.cshtml";
}

<div class="box-head">
	<h2>Edit Format Jurnal Rekening</h2>
</div>

@Html.Partial("_CreateOrEdit")


