@{
    ViewBag.Title = "Voucher Kas Kecil - Tambah";
    Layout = "~/Areas/PettyCashes/Views/Shared/_PettyCashesLayout.cshtml";
}
<div class="box-head">
	<h2>Tambah Voucher Kas Kecil</h2>
</div>
@Html.Partial("_CreateOrEdit")
@section HeadContent{
    <style type = "text/css">
    .t-autocomplete, .text-box-single-line{
        width: 600px;
    }
    </style>
}